{
    "machine": {
        "gpu": 1,
        "cpu": 1000,
        "ram": 8000
    },
    "job": {
        "APIVersion": "V1beta1",
        "Metadata": {
            "CreatedAt": "0001-01-01T00:00:00Z",
            "Requester": {}
        },
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {},
            "EngineSpec": {
                "Params": {
                "Entrypoint": null,
                "EnvironmentVariables": [
                    "{{ if .Prompt }}{{ subst "PROMPT=%s" .Prompt }}{{ end }}",
                    "{{ if .Seed }}{{ subst "RANDOM_SEED=%s" .Seed }}{{ end }}",
                    "HF_HUB_OFFLINE=1"
                ],
                "Image": "docker.io/zorlin/sdxl:v0.9-lilypad3",
                "Parameters": [
                ],
                "WorkingDirectory": ""
                },
                "Type": "docker"
            },
            "Network": {
                "Type": "None"
            },
            "Outputs": [
                {
                "Name": "outputs",
                "Path": "/outputs"
                }
            ],
            "PublisherSpec": {
                "Type": "ipfs"
            },
            "Resources": {
                "GPU": "1"
            },
            "Timeout": 1800,
            "Wasm": {
                "EntryModule": {}
            }
        }
    }
}
